@page "/"
@using Splitracker.Domain
@using Splitracker.Domain.Commands
@implements IAsyncDisposable
@implements ICharacterCommandRouter

@inject ICharacterRepository repository

<PageTitle>Splitracker</PageTitle>
<SectionContent
    Name="top">
    <MudPaper
        Elevation="1"
        Class="mx-6 pl-6">
        <MudSwitch
            T="bool"
            @bind-Checked="editMode">
            <MudIcon
                Icon="@Icons.Material.Filled.ModeEdit"
                Color="@(editMode ? Color.Tertiary : Color.Default)"/>
        </MudSwitch>
    </MudPaper>
</SectionContent>

<div
    class="d-flex flex-row flex-wrap gap-4">
    @if (handle != null)
    {
        <CascadingValue
            TValue="ICharacterCommandRouter"
            IsFixed="true"
            Value="@this">
            @foreach (var characterHandle in handle.Characters)
            {
                <CharacterCard
                    @key="characterHandle.Character.Id"
                    CharacterHandle="@characterHandle"
                    EditMode="@editMode"/>
            }
        </CascadingValue>
    }
    else
    {
        <CharacterCardSkeleton/>
    }
    @if (newCharacter != null)
    {
        <CascadingValue
            TValue="ICharacterCommandRouter"
            IsFixed="@true"
            Value="@newCharacterRouter">
            <CharacterCard
                EditMode="@true"
                CharacterHandle="@newCharacterRouter"
                />
        </CascadingValue>
    }
</div>

@if (newCharacter == null)
{
    <MudFab
        Class="fixed z-100"
        Style="right: 1.5rem; bottom: 1.5rem;"
        DisableRipple="@true"
        StartIcon="@Icons.Material.Filled.Add"
        Color="@Color.Primary"
        @onclick="addCharacterForm"/>
}

@code {

    public Index()
    {
        newCharacterRouter = new(this);
    }

    [CascadingParameter]
    public required Task<AuthenticationState> AuthenticationState { get; set; }

    ICharacterRepositoryHandle? handle;

    Character? newCharacter;

    private bool editMode;

    protected override async Task OnParametersSetAsync()
    {
        if (handle != null)
        {
            await handle.DisposeAsync();
        }
        handle = null;
        StateHasChanged();

        await base.OnInitializedAsync();
        var auth = await AuthenticationState;
        handle = await repository.OpenAsync(auth.User);
        handle.CharacterAdded += (_, _) => InvokeAsync(StateHasChanged);
        handle.CharacterDeleted += (_, _) => InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        if (handle != null)
        {
            await handle.DisposeAsync();
        }
    }

    public async Task ApplyAsync(ICharacterCommand command)
    {
        var state = await AuthenticationState;
        await repository.ApplyAsync(state.User, command);
    }

    void addCharacterForm()
    {
        newCharacter = new("", "Dein Name", 5, 10);
    }

    private readonly NewCharacterRouter newCharacterRouter;
    class NewCharacterRouter : ICharacterCommandRouter, ICharacterHandle
    {
        readonly Index inner;

        public NewCharacterRouter(Index inner)
        {
            this.inner = inner;
        }


        public async Task ApplyAsync(ICharacterCommand command)
        {
            switch (command)
            {
                case DeleteCharacter:
                    inner.newCharacter = null;
                    inner.StateHasChanged();
                    break;
                case EditCharacter edit:
                    await inner.ApplyAsync(new CreateCharacter(edit.Name, edit.LpBaseCapacity, edit.FoBaseCapacity));
                    break;
                default:
                    throw new ArgumentOutOfRangeException(nameof(command), "Unexpected command type: " + command.GetType());
            }
        }

        public Character Character => inner.newCharacter ?? new Character(null!, "", 1, 1);
        event EventHandler? ICharacterHandle.CharacterUpdated
        {
            add { }
            remove { }
        }
    }
}