@inherits MudComponentBase

<div
    @attributes="UserAttributes"
    class="@classnames"
    style="grid-column: @(Track + SkipColumns + 1) / @(Track + SkipColumns + 1 + SpanColumns); grid-row: @(Offset + 1) / @(Offset + 2); z-index: @(50 - Track); @Style"
    @onclick="selectItem">

    <div
        class="multi-timeline-item-divider">
        @if (!HideDot)
        {
            <div
                class="@dotClassnames">
                <div
                    class="@dotInnerClassnames"
                    style="@DotStyle">
                    @if (ItemDot != null)
                    {
                        @ItemDot
                    }
                </div>
            </div>
        }
    </div>
    <div
        class="multi-timeline-item-content">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else if (ItemContent != null)
        {
            @ItemContent
        }
    </div>
</div>